body {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}
.submit {
    border: 1px solid #ccc;
    color: #fff;
    padding: 15px 0;
    height: auto;
    border-radius: 0;
    font-size: 16px;
}
input {
	border: 1px solid #ccc;
    padding: 15px 30px;
    height: auto;
    border-radius: 0;
    font-size: 16px;
}
li {
	border-bottom: 1px solid #ccc;
    padding: 15px 30px;
    height: auto;
    border-radius: 0;
    font-size: 16px;
    margin-top: 3px;
    color: #fff;
    overflow: hidden;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapper {
	display: block;
	margin: 0 auto;
	width: 350px;
	background-color: #010101;
	opacity: .7;
	overflow: hidden;
}
h1 {
	text-align: center;
	color: #dbe6e9;
	margin: 0;
	padding: 5%;
}

.kraj,
.zavrsio {
	float: right;
}


p.poruka {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
}

.input-dugme {
	width: 100%;
}
.input-dugme input {
	width: 53%;
}
.input-dugme button {
	width: 28%;
	background-color: #091e49;
}


ul {
	overflow: hidden;
}

button.zavrsio,
button#kraj {
	color: #091e49;
}


/*   SMAJLI   */
